@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap');

h2, p, h3 {
    color: white;
    font-family: 'Sansita Swashed', cursive;    
}

h2 {
    font-size: 100px;
}

/* Remove the navbar's default rounded borders and increase the bottom margin */ 
body {
    background-image: url(lighter.jpeg);
}

.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */ 
    .jumbotron {
    margin-bottom: 0;
    background-color: rgb(3, 150, 150);
    border: 10px solid rgb(199, 197, 197);
    /* background-image: url(woodteal.jpg) */

}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: rgb(3, 150, 150);
    border: 10px solid rgb(199, 197, 197);
    
}

.title {
    color: green;
}



