@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap');


h1, p, h2, .nav-bar {
    font-family: 'Sansita Swashed', cursive;
    
}
h2 {
    font-size: xx-large;

}

#nav-bar-item {
    font-family: 'Sansita Swashed', cursive;

}

body {
    display: flex;
    flex-direction: column;  
    color: black;
}

.jumbotron {
    color: white;
    background-image: url(darkwood.jpeg);
    text-align: center;
    border: 15px solid grey;
    
}

.footer {
    background-color: rgb(7, 148, 148);
    text-align: center;
    margin: 0;
    
    }

.footer p {
    font-size: 12px;
}

.nav-bar {
    background-color: rgb(7, 148, 148);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.nav-bar-menu {
    display: flex;
    line-height: 2;
    list-style-type: none;
    margin: 0;
    padding-top: 5px;
}

.nav-bar-item {
    padding: 5px 10px;
    color: white;
}

.nav-bar-item a {
    color: white;
    text-decoration: none;
}



#button {
    scroll-padding-inline: center;
    border-radius: 10px;
}

.card-deck {
    margin-top: -2.2%;
    background-image: url(smwood.jpeg);
}

#card2 {
    margin-top: 2%;
}


